@font-face
  font-family: 'montserrat'
  src: url('../font/montserrat-light-webfont.woff2') format('woff2'), url('../font/montserrat-light-webfont.woff') format('woff')
  font-weight: 300
  font-style: normal

@font-face
    font-family: 'montserrat'
    src: url('../font/montserrat-regular-webfont.woff2') format('woff2'), url('../font/montserrat-regular-webfont.woff') format('woff')
    font-weight: 500
    font-style: normal

@font-face
  font-family: 'montserrat'
  src: url('../font/montserrat-ultralight-webfont.woff2') format('woff2'), url('../font/montserrat-ultralight-webfont.woff') format('woff')
  font-weight: 100
  font-style: normal

body
  font-family: 'montserrat'
  font-size: 24px
  color: $grayText
  font-weight: 100

strong
  font-weight: 300
  color: $gold
