extends ./layouts/layout.pug

block content
  include ./partials/teaser.pug
  include ./partials/info.pug
  include ./partials/skills.pug
  include ./partials/experience.pug
  include ./partials/works.pug
  include ./partials/contact.pug
