.info
  font-size: 18px
  +size($smallScreen)
    font-size: 36px
  overflow: hidden
  background: #EDEDED linear-gradient(-180deg, #DDD 0%, #FFFFFF 53%, #DDD 100%);
  position: relative
  p
    max-width: 880px
    text-align: center
    margin: 2.5em auto
    +size($smallScreen)
      margin: 0.5em auto
    line-height: 1.4
    position: relative
    z-index: 1
  &::before, &::after
    content: ''
    display: block
    height: 20px
    +size($smallScreen)
      height: 80px
    width: 100%
    max-width: 1000px
    position: absolute
    left: 50%
    transform: translate(-50%, 0)
    z-index: 0
    opacity: 0.35
  &::before
    background-image: radial-gradient(ellipse at top, lighten($gold, 50%) 0%, rgba($gold, 0) 50%)
  &::after
    bottom: 0
    background-image: radial-gradient(ellipse at bottom, darken($gold, 50%) 0%, rgba($gold, 0) 50%)
  +size($smallScreen)
    p
      transition: all 0.5s 0.2s ease
    &.hidden
      p
        transform: translate(0, 100px)
        opacity: 0
        transition: all 0.1s 0
