.contact
  .container
    h2
      a(href="mailto:mateusz.witalinski@gmail.com") Contact me
    ul.links
      li.linkedin
        a(href="https://www.linkedin.com/in/mateuszwitalinski" target="_blank") LinkedIn
      li.dribbble
        a(href="https://dribbble.com/mathw"  target="_blank") Dribbble
      li.codepen
        a(href="http://codepen.io/matthewww" target="_blank") Codepen
      li.twitter
        a(href="https://twitter.com/applifactory" target="_blank") Twitter
      li.copyright &copy; 2016 Mateusz Witalinski
  .mateusz
