.experience
  h2 My experience
  ul
    li(before-scroll="hidden" before-offset="-100" tabindex="1")
      .year 
        span 2011
      .company LEOCODE
      ul.responsibilities
        li 
          h3 Frontend developer
          p I work on the Frontend, usually with Angular, but also with pure JS/TS, React/React Native, Meteor or even Node backend. Considered a Frontend Architect with a large expertise. Sometimes delivers a UI design as well.

        li 
          h3 Team Leader &amp; Project Manager
          p Over time, the competencies were expanded to include the Team Leader and later the Project Manager for several projects. Demonstrates a great sense of responsibility, so can be entrusted with the biggest challenges.

    li(before-scroll="hidden" before-offset="-100" tabindex="1")
      .year 
        span 2009
      .company Applifactory
      ul.responsibilities
        li 
          h3 Self employed
          p I was building various web and mobile solutions for several companies, from the small units to the biggest Polish corporations. It was the time of exploring new technologies and gaining new competences.
    
    li(before-scroll="hidden" before-offset="-100" tabindex="1")
      .year 
        span 2008
      .company QuickFoto
      ul.responsibilities
        li
          h3 Product Owner
          p I was an owner literally – my idea, my vision and my execution. I have built an advanced Photo Printing system with some extra features such as visual photo editor, calendar and photo gadget (mugs, pillows, etc.) creator.
        li
          h3 Adobe Flex and PHP Developer
          p The only technology that could deliver such a sophisticated user interface and client-side image processing those days was the Flex framework. I have utilized its power to the limit. All was wrapped up with the PHP backend. 

    li(before-scroll="hidden" before-offset="-100" tabindex="1")
      .year 
        span 2007
      .company Ingeniousprogrammers
      ul.responsibilities
        li
          h3 PHP and Flash Developer
          p My first real job. I was building websites, CMSes, eCommerce and Rich Internet Applications using the stack, which was far ahead of HTML and JS of those times. 

    li(before-scroll="hidden" before-offset="-100" tabindex="1")
      .year 
        span 2003
      .company Freelance
      ul.responsibilities
        li
          h3 Building the internet
          p I have discovered the Web Developer term, which at that time meant being a Frontend and Backend Developer, Designer, Copywriter and Dev-ops in one person. I have built my first commercial web app in PHP and Flash, which was a Flight Time Measurement system for a sports airports.
        li
          h3 Programming and learning
          p My first contact with programming was C and C++. From a simple Windows desktop applications at the beginning up to an advanced Image Recognition QA software and ERP systems. As a trainee I was visiting Shanghai factory to coordinate Chinese and Polish teams cooperation. 
