.experience
  h2 My experience
  ul
    li(before-scroll="hidden" before-offset="-100")
      .year 
        span 2016
      .company 314 Apps Ltd.
      ul.responsibilities
        li Front-end developer
        li UX Design Engineer
        li Team leader
    
    li(before-scroll="hidden" before-offset="-100")
      .year 
        span 2011
      .company Applifactory
      ul.responsibilities
        li Adobe Flex developer
        li PHP developer
    
    li(before-scroll="hidden" before-offset="-100")
      .year 
        span 2006
      .company Freelance
      ul.responsibilities
        li Building the web
        li Learning
