.info(before-scroll="hidden" before-offset="-100")
  .container
    p I am a software developer for over <strong>ten years</strong> now. My <strong>skills evolve</strong> along with the internet evolution and my great <strong>experience is growing</strong> constantly.
