.skills(before-scroll="hidden")
  .container
    h2 Stack and Methodologies I&nbsp;work with
    ul
      li 
        span Angular
      li 
        span Stencil
      li 
        span TypeScript
      li 
        span JavaScript
      li 
        span Vue
      li 
        span ES6
      li 
        span HTML
      li 
        span SASS/Stylus
      li 
        span React
      li 
        span Node
      li 
        span Firebase
      li 
        span Meteor
      
    .methodologies I <span>love</span> Agile Software Development
