.skills(before-scroll="hidden")
  .container
    h2 Stack and Methodologies I&nbsp;work with
    ul
      li 
        span HTML
      li 
        span CSS
      li 
        span JavaScript
      li 
        span NodeJS
      li 
        span JADE
      li 
        span STYLUS
      li 
        span AngularJS
      li 
        span MongoDB
      li 
        span SLIM
      li 
        span LESS
      li 
        span Ionic Framework
      li 
        span ExpressJS
      li 
        span HAML
      li 
        span SASS
      li 
        span ES6
      li 
        span GIT
      
    .methodologies I <span>love</span> Lean & Agile Software Development
