.skills(before-scroll="hidden")
  .container
    h2 Stack and Methodologies I&nbsp;work with
    ul
      li 
        span Angular
      li 
        span TypeScript
      li 
        span JavaScript
      li 
        span ES6
      li 
        span Webpack
      li 
        span HTML
      li 
        span CSS
      li 
        span SASS
      li 
        span React
      li 
        span Node
      li 
        span Meteor
      li 
        span GIT
      
    .methodologies I <span>love</span> Agile Software Development
