.teaser.hidden(before-scroll="hidden")
  .works
  .page
    svg.logo(width="325px" height="213px" viewBox="858 62 325 213" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
      g#mw-logo(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(859.000000, 63.000000)")
        polyline.mw-path(stroke="#B7A755" stroke-width="4" stroke-linejoin="bevel" points="42.9813351 160.485739 76.6687186 52.0112999 110.8238 160.485739 144.406255 52.0112999 178.666266 160.485739 212.143792 52.0112999 246.508731 160.485739 279.881329 52.0112999")
        polygon.frame-path(stroke="#B7A755" stroke-width="2" points="0.249338352 0.0624187302 322.230133 0.0624187302 322.230133 210.927093 0.249338352 210.927093")
        path(class="backslash-path" d="M144.354416,52.1998286 L178.7761,160.645515" stroke="#D7CFA8" stroke-width="4")
    h1
      | My name is Mateusz
      span I make the web
