.works
  .container
    h2 Some of my recent works
    ul
      li
        img(src="/img/works-soaply-app.jpg" data-rjs="2" alt="Soaply app")
        a(href="https://dribbble.com/shots/2880534-Soaply" target="_blank")
          span.description In-place car wash ordering mobile application
          i.dribbble
      li
        img(src="/img/works-mw-logo.jpg" data-rjs="2" alt="Animated SVG logo")
        a(href="http://codepen.io/matthewww/pen/OXoVya" target="_blank")
          span.description Animated SVG logo
          i.codepen
      li
        img(src="https://d13yacurqjgara.cloudfront.net/users/951588/screenshots/2255516/photodrone-animate.gif" alt="Reactive header")
        a(href="https://dribbble.com/shots/2255516-Reactive-header" target="_blank")
          span.description Reactive header
          i.dribbble
      li
        img(src="/img/works-portfolio.jpg" data-rjs="2" alt="My portfolio source code")
        a(href="https://github.com/applifactory/mateusz.im" target="_blank")
          span.description My portfolio source code
          i.github
