.works(before-scroll="hidden" before-offset="200")
  .container
    h2 Some of my recent works
    ul
      li
        img(src="/img/works-portfolio.jpg" data-rjs="2" alt="My portfolio source code")
        a(href="https://github.com/applifactory/mateusz.im" target="_blank")
          span.description This website source code
          i.github
      li
        img(src="/img/works-tag-select.jpg" data-rjs="2" alt="Angular tag-select component")
        a(href="http://codepen.io/matthewww/full/grZGap/" target="_blank")
          span.description Angular tag-select component
          i.codepen
      li
        img(src="/img/works-mw-logo.jpg" data-rjs="2" alt="Animated SVG logo")
        a(href="http://codepen.io/matthewww/full/OXoVya" target="_blank")
          span.description Animated SVG logo
          i.codepen
      li
        img(src="/img/works-photodrone.gif" alt="Reactive header")
        a(href="https://dribbble.com/shots/2255516-Reactive-header" target="_blank")
          span.description Reactive header
          i.dribbble
      li
        img(src="/img/works-dashboard.jpg" data-rjs="2" alt="Dashboard app")
        a(href="https://dribbble.com/shots/2882937-Dashboard" target="_blank")
          span.description Dashboard app
          i.dribbble
      li
        img(src="/img/works-soaply-app.jpg" data-rjs="2" alt="Soaply app")
        a(href="https://dribbble.com/shots/2880534-Soaply" target="_blank")
          span.description In-place car wash ordering mobile application
          i.dribbble
