doctype html
html(lang="en")
  head
    - t = (new Date()).getTime()
    meta(content="width=device-width, initial-scale=1.0" name="viewport")
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(content='front-end developer, angular developer, web developer, software developer, angular, typescript, html, css, javascript, nodejs, pug, jade, stylus, angularjs, meteorjs, mongodb, slim, less, ionic framework, expressjs, haml, sass, es6, git, scrum, agile, agile software development' name='keywords')
    meta(content='My name is Mateusz Witalinski. I am a software developer for over ten years now. My skills evolve along with the internet evolution and my great experience is growing constantly.' name='description')
    meta(content='Mateusz Witaliński / mateusz.witalinski@gmail.com' name='author')
    include ../common/icons.pug
    script(src="./js/lib.js")
    script(src="./js/application.js?t="+t)
    link(rel="stylesheet" href="./css/application.css?t="+t)
    title Mateusz Witalinski - Front-end Developer / Angular Developer
  body
    block content
    
    include ../common/analytics.pug
